<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="my.androidfilemanage">

    <!-- 网络权限以及网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="my.androidfilemanage.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="my.androidfilemanage.activity.MainFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="my.androidfilemanage.activity.SDCardActivity"/>
        <activity
            android:name="my.androidfilemanage.activity.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="my.androidfilemanage.activity.TextFileViewActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="my.androidfilemanage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--   <activity android:name=".activity.MainFragmentActivity"/>-->
    </application>

</manifest>